PORT=5000
NODE_ENV=development
DATABASE_URL=postgresql://neondb_owner:npg_fRaxUBK3G6Ot@ep-snowy-breeze-ax3n8lbl-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require
JWT_SECRET=super-secret-luxury-aurelia-jwt-token-key-2026
ADMIN_PASSWORD=vageesha@2026
CLIENT_URL=http://localhost:3000
